<div class="container" style="background:#fff; padding:10px;" ng-controller="OverallCtrl">
	<div class="row">
		<div class="col s12">
		<div class="input-field col s4">
		    <select id="select">
		      <option value="Overall">Overall standing</option>
		      <option value="Femenino">Female</option>
		      <option value="Masculino">Male</option>
		      <option value="Masculino 80">Male 80</option>
		      <option value="Masculino 100">Male 100</option>
		      <option value="Mixto">Mixed</option>
		      <option value="Premio Bufalo">Búfalo award</option>	    
		    </select>
		    <label>Choose your bracket</label>
		</div>
	   </div>
	    <div class="col s12">
    	  <table class="striped">
	        <thead>
	          <tr>
	          	<th data-field="rack">Rank</th>
	            <th data-field="riders">Riders</th>
	            <th data-field="riders_num">Riders No</th>
   	            <th data-field="time">Time</th>   	          
	            <th data-field="bracket">Bracket</th>	            	           
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="entry in overall_result">        
	            <td>{{$index+1}}</td>
	            <td>{{entry.riders}}</td>
				<td>{{entry.riders_no}}</td>	         
	            <td>{{entry.time}}</td>
	            <td>{{entry.bracket}}</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
    $('select').material_select();
  });
</script>