<div class="container" style="background:#fff; padding:10px;" ng-controller="">
	<div class="row">	
	    <div class="col s12">
    	  <table class="striped">
	        <thead>
	          <tr>
	          	<th data-field="id">Rank</th>
	            <th data-field="id">Riders</th>
	            <th data-field="name">Riders No</th>
   	            <th data-field="name">Time</th>   	          
	            <th data-field="price">Bracket</th>	            	           
	          </tr>
	        </thead>

	        <tbody>
	          <tr ng-repeat="stage in event_users_results.event_results">        
	            <td>{{stage.results_rank}}</td>
	            <td>{{stage.results_first_name}} {{stage.results_last_name}}</td>
				<td>{{stage.results_bib}}</td>	         
	            <td>{{stage.results_time}}</td>
	            <td>{{stage.results_bracket_name}}</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
    </div>
</div>