 @font-face{ 
    font-family: Raleway; 
    src: url('../font/Raleway-Regular.ttf');
 }
 @font-face{ 
    font-family: DINPro; 
    src: url('../font/DINPro-Cond.woff');
 }
 
body{
	/*background: url(../img/bg_overall.jpg) fixed;
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;*/
    background-color: #e8e8e8;
    padding: 0px;
    margin: 0px auto;
    font-family: DINPro;
}
thead{
    border: none;
}
th{
    padding: 0px 5px;
}
td{
    padding: 5px 5px;
}
footer{
    background-color: #0F2362;
    position: fixed;
    height: 60px;
    top: calc(100% - 60px);
    width: 100%;
}
nav ul a {
    font-size: 1.4rem !important;
}
.banner{
    background: #158AA8;
    height:150px;
}
.ft-copy{
    float: left;
    height: 60px;
    margin-left: 20px;
}
.ft-info{
    float: right;
}
.line > td > div{
    background-color:#de6127;
    height: 4px;
}
.lg-legend{
    height:150px;
    float: right;
}
.lg-chrono{
    height: 38px; 
    width: 110px; 
    margin-top: 10px;
}
.title{
    margin-bottom: 0px;
    color: #fff;
}
.block{
    display: block;
}
.dev{
    display: none;
}
@media(max-width: 1272px){
    nav ul a {
        font-size: 1rem !important;
    }
}
@media(max-width: 475px){
    .dev{
        display: block;
    }
    .none{
        display: none;
    }
}
@media(max-width: 340px){
    .lg-legend{
        height: 110px;
    }
    .lg-chrono{
        height: 30px;
        width: 90px;
    }
}