 @font-face{ 
    font-family: Raleway; 
    src: url('../font/Raleway-Regular.ttf');
 }
 @font-face{ 
    font-family: DINPro; 
    src: url('../font/DINPro-Cond.woff');
 }
 
body{
	/*background: url(../img/bg_overall.jpg) fixed;
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;*/
    background-color: #e8e8e8;
    padding: 0px;
    margin: 0px auto;
    font-family: DINPro;
}
footer{
    background-color: #0E3B68;
    position: fixed;
    top: calc(100% - 30px);
    width: 100%;
}
.ft-copy{
    float: left;
    height: 20px;
}
.ft-info{
    float: right;
}